.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.carousel_image {
  height: 500px; 
  object-fit: cover; 
  width:100%;
}
.heading{
  color: rgb(2, 44, 60);
 
}
.para{
  color:rgb(1, 45, 62)
}

